body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content: center;
    border: 5px solid;
    min-height: 100vh;
    align-items: center;
    background-color: bisque;
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    max-height: 750px;
    
}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 43%);
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsla(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsla(0, 0%, 40%);
}
button:active {
    background-color: hsla(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(39, 100%, 50%);
}

.operator-btn:hover {
    background-color: hsl(39, 100%, 60%);
}
